# Python
__pycache__/
*.py[cod]
*.so

# Conda / environments
.venv/
venv/
env/

# Datasets
datasets/
*.zip
*.tar
*.tar.gz

# Model weights
*.pt
*.pth
*.onnx
*.engine
*.weights

# Training outputs
experiments/
runs/
wandb/
mlruns/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS / editor
.DS_Store
.vscode/
.idea/
